.ui-editor{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  .ui-block{
    width: 100%;
  }
  .ui-margin-top{
    margin-top: 20px;
  }
  .ui-editor_formwork{
    width: 260px;
    height: 100%;
    .el-tabs{
      height: 100%;
      .el-tabs__content{
        height: calc(100%  - 40px);
        padding: 0;
        .el-tab-pane{
          height: 100%;
          overflow: hidden;
        }
      }
    }
    .ui-editor_formwork_template{
      list-style: none;
      margin: 0;
      padding: 5px;
      height: 100%;
      overflow-y: auto;
      li{
        position: relative;
        height: 160px;
        cursor: pointer;
        &:hover{
          outline: 1px solid #409EFF;
          .ui-editor_delete{
            display: block;
          }
        }
        &+li{
          margin-top: 10px;
          border-top: 1px solid #DCDFE6;
        }
        img{
          height: 140px;
          width: 100%;
        }
        div{
          height: 20px;
          text-align: center;
          font-size: 13px;
        }
        .ui-editor_delete{
          display: none;
          position: absolute;
          right: 5px;
          top: 5px;
          color: red;
        }
      }
    }
    .ui-editor_formwork_material{
      list-style: none;
      margin: 0;
      padding: 5px;
      height: 100%;
      overflow-y: auto;
      li{
        float: left;
        width: 70px;
        cursor: pointer;
        margin: 5px;
        text-align: center;
        &:hover{
          outline: 1px solid #409EFF;
        }
        img{
          height: 70px;
          width: 100%;
        }
        .icon{
          font-size: 50px;
        }
        div{
          height: 20px;
          text-align: center;
          font-size: 13px;
        }
      }
    }
  }
  .ui-editor_workspace{
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #ccc;
    .ui-editor_container{
      width: 100%;
      height: 100%;
    }
    .ui-editor_menu{
      position: fixed;
      z-index: 129;
      width: 140px;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 10%) 0.5px 2px 7px;
      display: none;
      ul{
        list-style: none;
        padding: 5px 0;
        margin: 0;
        li{
          padding: 5px 20px;
          height: 32px;
          display: flex;
          align-items: center;
          user-select: none;
          font-size: 14px;
          &:hover{
            background-color: #ececff;
          }
        }
      }
    }
  }
  .ui-editor_property{
    width: 240px;
    background: #fff;
    .el-tabs{
      height: 100%;
      .el-tabs__content{
        height: calc(100%  - 40px);
        padding: 10px;
      }
    }
    .ui-editor_gradient{
      display: flex;
      flex-wrap: wrap;
      .ui-editor_gradient_item{
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;
        margin: 5px;
      }
    }
  }
}